.buttons-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: fixed;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 7px;
}

.active {
  background-color: lightblue;
}

.center-text{
  text-align: center;
}

.lines-arrows-container {
  display: flex;
  justify-content: center;
}

.lines-container, .arrows-container {
  width: 50%;
}

.lines-info-item, .arrows-info-item {
  text-align: center;
}

.lines-info-item {
  margin-right: 10px;
}

.arrows-info-item {
  margin-left: 10px;
}
